:root{
  --main-color-white: #ffffff;
  --main-color-back:#000000;

  --main-color-primary: #fa6000;
  --main-color-secondary: #f99b00;
  --main-color-links: #fff200;
  --main-color-text: #847f7b;
  --main-color-background: #181e24;
  --main-color-footer:#4e443e;

  --time-color: #606060;
}